@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import "https://unpkg.com/open-props";

* {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0; /* resets browser defaults*/
  overflow: hidden; /* no scrollbars by default */
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-0);
}
p {
  text-align: center;
}
.choices-container {
  margin-top: 12px;
  color: white;
}
span {
  background-color: var(--pink-7);
  padding: 7px;
  margin-right: 5px;
  border-radius: var(--radius-round);
}

textarea {
  font-family: inherit;
  font-size: var(--font-size-2);
  border: none;
  margin: 5px auto;
}

.chosen {
  background-color: var(--indigo-9);
}
