@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  --color-body-bg: #1d2340;
  --color-card-bg: #1a1e32;
  --color-text: #fff;
  --color-accent: #ff82ac;
  --font-family: "Outfit", sans-serif;
  --border-radius: 4px;
  --font-size: 18px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0; /* resets browser defaults*/
  overflow: hidden; /* no scrollbars by default */
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--color-body-bg);
  color: var(--color-text);
}

.card {
  background-color: var(--color-card-bg);
  flex-basis: 800px;
  margin: 22px;
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 400px; /* set to avoid card size flicker based on the joke length, but still resize if the joke is very long */
}

.card h1 {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
  background-color: var(--color-card-bg);
  padding: 7px;
  position: relative;
  top: -37px;
  border: 1px solid;
}
.card p {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
}

.card button {
  font-family: inherit;
  text-transform: uppercase;
  padding: 11px 22px;
  background-color: var(--color-accent);
  border-color: var(--color-card-bg);
  transition: border-color 0.3s;
}

.card button:hover {
  border-color: var(--color-accent);
}
